{% extends "ex00/base.html" %}

{% block title %}
Moviemon - Welcome!
{% endblock %}

{% block style %}
{% load static %}
<!-- <link rel="stylesheet" type="text/css" href="{% static 'ex01/style2.css' %}" /> -->
{% endblock %}

{% block content %}

<div id="console">
    <div id="ecran">
        <div>A - New Game</div>
        <div>B - Load</div>
    </div>
    <div id="controles">
	  <a href="">◄</a>
	  <a href="">▲</a>
	  <a href="">▼</a>
	  <a href="">►</a>
      <span class="start_select">SELECT</span>
      <span class="start_select">START</span>
      <a href="/option/load">B</a>
      <a href="/worldmap">A</a>
    </div>
</div>

{% endblock %}
