{% extends "ex00/base.html" %}

{% block title %}
TitleScreen
{% endblock %}

{% block style %}
{% load static %}
<!-- <link rel="stylesheet" type="text/css" href="{% static 'ex01/style2.css' %}" /> -->
{% endblock %}

{% block content %}
{% verbatim myblock %}

<div id="console">
    Ecran:
    <div id="ecran">
        <div>A - New Game</div>
        <div>B - Load</div>
    </div>
    Controles:
    <div id="controles">
        <a href="/ex00/worldmap">A</a>
        <a href="/ex00/option/load">B</a>
    </div>
</div>

{% endverbatim myblock %}
{% endblock %}
