<div id="controles">

  <a href="{{left_href}}" title="{{left_title}}">◄</a>
	<a href="{{up_href}}" title="{{up_title}}">▲</a>
	<a href="{{down_href}}" title="{{down_title}}">▼</a>
	<a href="{{right_href}}" title="{{right_title}}">►</a>
  
  <a href="{{select_href}}" title="{{select_title}}">
    <span class="start_select">SELECT</span></a>
  
  <a href="{{start_href}}" title="{{start_title}}">
    <span class="start_select">START</span></a>
  
  <a href="{{b_href}}" title="{{b_title}}">B</a>
  <a href="{{a_href}}" title="{{a_title}}">A</a>
</div>
