{% extends "ex00/base.html" %}

{% block title %}
Detail
{% endblock %}

{% block style %}
{% load static %}
<!-- <link rel="stylesheet" type="text/css" href="{% static 'ex01/style2.css' %}" /> -->
{% endblock %}


{% block content %}

Moviedex details
<br>
{{moviemonDetail.nom}}
<br>
<img src={{moviemonDetail.poster}} alt="moviemon" height="500" width="500">
<br>
Réalisateur : {{moviemonDetail.realisateur}}
<br>
Année : {{moviemonDetail.annee}}
<br>
Rating : {{moviemonDetail.rating}}
<br>
Synopsis : {{moviemonDetail.synopsis}}
<br>
Acteurs : {{moviemonDetail.acteurs}}
<br>
{% endblock %}


