{% extends "ex00/base.html" %}

{% block title %}
Moviedex
{% endblock %}

{% block style %}
{% load static %}
<!-- <link rel="stylesheet" type="text/css" href="{% static 'ex01/style2.css' %}" /> -->
{% endblock %}

{% block content %}
<div id="console">
    <div id="ecran">
	  <div id="moviedex_item">
		<div class="name">Moviedex</div>
		<div>
A : Lien vers la page Detail du Moviemon sélectionne<br>
SELECT : Lien vers la page Worldmap
       </div>
<div>
{% for moviemon in moviedex%}
<a href="/moviedex/{{moviedex.nom}}"><img class="moviedex_item" src={{moviemon.poster}} alt="moviemon" value={{moviedex.nom}}></a>
{% endfor %}
</div>
      </div>
    </div>
    {% include "ex00/controles.html" %}
</div>

{% endblock %}
