{% extends "ex00/base.html" %}

{% block title %}
Save
{% endblock %}

{% block style %}
{% load static %}
<!-- <link rel="stylesheet" type="text/css" href="{% static 'ex01/style2.css' %}" /> -->
{% endblock %}


{% block content %}
{{test}}
SAVE GAME
<br>
<button style="background-color: blue; color:white; border-radius: 50%; padding: 15px 16px">Slot A</button>
<br>
<button style="background-color: red; color:white; border-radius: 50%; padding: 15px 16px">Slot B</button>
<br>
<button style="background-color: green; color:white; border-radius: 50%; padding: 15px 16px">Slot C</button>

{% endblock %}

