{% extends "ex00/base.html" %}

{% block title %}
Load
{% endblock %}

{% block style %}
{% load static %}
<!-- <link rel="stylesheet" type="text/css" href="{% static 'ex01/style2.css' %}" /> -->
{% endblock %}


{% block content %}
{{test}}
LOAD GAME
<br>


{% if not slota%}
<button style="background-color: pink; color:white; border-radius: 50%; padding: 15px 16px">Slot A - Etat : "Free" </button>

{%endif %}

{% if slota%}
<button style="background-color: pink; color:white; border-radius: 50%; padding: 15px 16px"><a href="/options/load_game?selectionne=slota">Slot A - Niveau : {{slotaNiveau}} / 10</a></button>

{%endif %}

<br>

{% if not slotb%}
<button style="background-color: red; color:white; border-radius: 50%; padding: 15px 16px">Slot B - Etat : "Free" </button>

{%endif %}

{% if slotb%}
<button style="background-color: red; color:white; border-radius: 50%; padding: 15px 16px"><a href="/options/load_game?selectionne=slotb">Slot B - Niveau : {{slotbNiveau}} / 10</a></button>

{%endif %}

<br>

{% if not slotc%}
<button style="background-color: green; color:white; border-radius: 50%; padding: 15px 16px">Slot C - Etat : "Free" </button>

{%endif %}

{% if slotc%}
<button style="background-color: green; color:white; border-radius: 50%; padding: 15px 16px"><a href="options/load_game?selectionne=c"></a>Slot C - Niveau : {{slotcNiveau}} / 10 </a></button>

{%endif %}

<br>


<button>
    A - Save
</button>

<button>
    B - Cancel
</button>

{% endblock %}

