{% extends "ex00/base.html" %}

{% block title %}
Moviemon - World Map
{% endblock %}

{% block style %}
{% load static %}
<!-- <link rel="stylesheet" type="text/css" href="{% static 'ex01/style2.css' %}" /> -->
{% endblock %}


{% block content %}

<div id="console">
        <div id="ecran">
            <div>A - if Moviemon Battle</div>
            <div>B - (rien)</div>
            <div id="grid">
            {% for x in grid %}
                {% for y in x %}
                <span class="square">{{y}}</span> 
                {% endfor %}  
                <br>
            {% endfor %}
			<div id="info">
				<div id="numballs">You have {{numballs}}  movieballs</div>
			  {% if found == 1 %}
				<div id="message">You got a movieball!</div>
			  {% else %}
				<div id="message">You found a Moviemon! Press A to try to catch it!</div>
			  {% endif %}
				numViews: {{numViews}}
            </div>  
        </div>
        <div id="controles">
		  <a href="/worldmap?move=left"  title="Move left">◄</a>
		  <a href="/worldmap?move=up"    title="Move up">▲</a>
		  <a href="/worldmap?move=down"  title="Move down">▼</a>
		  <a href="/worldmap?move=right" title="Move right">►</a>
          <a href="/moviedex" title="Moviedex"><span class="start_select">SELECT</span></a>
          <a href="/options" title="Options"><span class="start_select">START</span></a>
          <a href="/worldmap" title="">B</a>
          <a href="/battle/tt1403865" title="Battle! (if found Moviemon)">A</a>
        </div>
    </div>

{% endblock %}


