{% extends "ex00/base.html" %}

{% block title %}
Moviemon - World Map
{% endblock %}

{% block style %}
{% load static %}
<!-- <link rel="stylesheet" type="text/css" href="{% static 'ex01/style2.css' %}" /> -->
{% endblock %}


{% block content %}

<div id="console">
        <div id="ecran">
            <div>A - if Moviemon Battle</div>
            <div>B - (rien)</div>
            <div class="explain">
            Il faut afficher ici la Worldmap<br>
            {% for x in grid %}
                {% for y in x %}
                <span class="square">{{y}}</span> 
                {% endfor %}  
                <br>
            {% endfor %}
            Avant d’afficher, le fichier contenant infos 
            partie en cours doit être réinitialisé avec params
            des Settings et les Moviemons doivent être requêtés à nouveau.
            </div>  
        </div>
        <div id="controles">
		  <a href="/ex00/worldmap?move=left"  title="Move left">◄</a>
		  <a href="/ex00/worldmap?move=up"    title="Move up">▲</a>
		  <a href="/ex00/worldmap?move=down"  title="Move down">▼</a>
		  <a href="/ex00/worldmap?move=right" title="Move right">►</a>
          <span class="start_select">SELECT</span>
          <span class="start_select">START</span>
          <a href="/ex00/worldmap" title="">B</a>
          <a href="/ex00/battle/tt1403865" title="Battle! (if found Moviemon)">A</a>
        </div>
    </div>

{% endblock %}


