body {
    text-align: center;
    font-size: 4vw;
}
#console {
    width: 50vw;
    height: 55vw;
    border: 5px solid lightgray;
    padding: 3vw;
	background-color: lightgray;
}
#ecran {
    height: 45vw;
    font-size: 3vw;
	background-color: white;
}
#controles {
    position: absolute;
	top: 50vw;
	left: 11.5vw;
    padding-top: 3vw;
    padding-bottom: 0vw;
    font-size: 3vw;
}
.start_select {
	font-family: sans-serif;
    font-size: 2vw;
}
#grid {
    font-size: 2vw;
}
.square {
    font-size: 2.5vw;
}
a {
    color: darkblue;
    text-decoration: none;
}
a:link {
    color:inherit;
}
#welcome_message {
	padding-top: 20vw;
}
