body {
    text-align: center;
    font-size: 4vw;
}
#console {
    width: 50vw;
    border: 5px solid lightgray;
    padding: 3vw;
	background-color: lightgray;
}
#ecran {
    height: 45vw;
    font-size: 3vw;
	background-color: white;
}
#controles {
    padding-top: 3vw;
    padding-bottom: 0vw;
    font-size: 3vw;
}
.explain {
    font-size: 2vw;
}
.square {
    font-size: 2.5vw;
}
a {
    text-decoration: none;
}
